body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #ff0404;
    color: #fff;
}

.product-info {
    text-align: center;
    padding: 20px;
}

.product-info img {
    width: 300px;
    border-radius: 10px;
}

.benefits {
    padding: 20px;
    background-color: #000000;
    color: #ffffff;
}

.benefits h2 {
    text-align: center;
}

.benefits ul {
    list-style: none;
    padding: 0;
}

.benefits li {
    padding: 10px 0;
    font-weight: bold;
}

.cta {
    text-align: center;
    padding: 20px;
    background-color: #ff0404;
    color: #fff;
}

.cta button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ff0404;
}
